#dashboard {width: 100%; padding: 2em;}
#dashboard  p {font-size: larger;  font-weight: bold; margin: 0.4em;}

.dashbox {width: 30%;background-color: #f1f1f1; margin: 1.5em 0.5em; margin-left: 1em; border: 1px solid #ddd;   border-radius: 3px; float: left}
.dashbox div { padding: 0.5em 0.8em;}
.dashbox .class-role--heading {display: flex;justify-content: center;align-items: center;height:4em;font-weight:bold;text-align: center;border-bottom:1px solid #ddd;}
.ruoloutente {color:#31709c;background-color: #d9edf6;}
.ruoloresp {color:#3c765b;background-color: #e0efd8;}
.ruoloevas {background-color: #347ab8;color:#fff;}
.dashbox a {text-decoration: none; color: #ffab41; }
.dashbox a.ico {float: right; font-weight: bolder;}