.tab-navigation--box {
    width: 100%;

    .tab_item {
        &.green {
          border-top: solid 2px green;
        }
      
        &.white {
          border-top: solid 2px white;
        }
      
        &.red {
          border-top: solid 2px red;
        }
      }      
}