.tab-navigation--box {
    width: 100%;

    .bottom_color_green {
        border-top: solid 2px green;
    }

    .bottom_color_white {
        border-top: solid 2px white;
    }

    .bottom_color_red {
        border-top: solid 2px red;
    }
}