footer {
    color: #fff;
    text-decoration: unset;
    padding: 0;
}

.site-footer {
    background: #3e0000;
}

.site-footer__bottom{
    padding: 1rem 0;
    background-color: #250000;
    border-top: 1px solid #fff;
}