.header {
    background-color: #ab201d;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.navbar-top {
    background-color: #ab201d;
    width: 100%;    
}

.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-block {
    background-color: #720000;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
}

.flag-container {
    margin-bottom: 0px;
}

.flag-green {
    background-color: green !important;
    border-width: 0px;
}

.flag-white {
    background-color: white !important;
    border-width: 0px;
}

.flag-red {
    background-color: red !important;
    border-width: 0px;
}